* {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px ;
    background-color: #000000;
}

.logo {
    font-size: 18px;
    color: aliceblue;
    padding: 8px;
    border-radius: 5%;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    color: aliceblue;
}

.links {
    font-size: 18px;
    text-decoration: none;
    color: aliceblue;
    padding: 2px;
    border-radius: 10%;
}

:hover.links {
    background-color: saddlebrown;
}

.contact-btn {
    background-color: rgb(12, 198, 211);
    border: none;
    border-radius: 10px;
    color: #000000;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

:hover.contact-btn {
    background-color: saddlebrown;
    cursor: pointer;
}

.background {
    position: relative;
    text-align: center;
    color: white;
}

.greeting {
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about-me {
    text-align: center;
    padding: 30px 15vw;
}