* {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    color: aliceblue;
}

.logo {
    color: aliceblue;
}


.contact-btn {
    background-color: aquamarine;
    border: none;
    border-radius: 10px;
    color: #000000;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

:hover.contact-btn {
    background-color: chartreuse;
}